In [1]:
import numpy as np
import pandas as pd

In [2]:
t = pd.date_range(start='1/1/2017', end='1/3/2017')
python = np.random.poisson(10, len(t))
r = np.random.poisson(10, len(t))
data = {'python': python, 'r': r, 'date': t}

In [3]:
df = pd.DataFrame(data = data)
df.head()

        date  python  r
0 2017-01-01       6  8
1 2017-01-02       5  8
2 2017-01-03      10  8

In [4]:
df = df.melt(id_vars='date', var_name='language', value_name='ex_complete')
df.head()

        date language  ex_complete
0 2017-01-01   python            6
1 2017-01-02   python            5
2 2017-01-03   python           10
3 2017-01-01        r            8
4 2017-01-02        r            8

In [5]:
df.to_csv('data/user_ex.csv', index=False)

___

In [6]:
df = pd.read_csv('data/user_ex.csv')
df.head()

         date language  ex_complete
0  2017-01-01   python            6
1  2017-01-02   python            5
2  2017-01-03   python           10
3  2017-01-01        r            8
4  2017-01-02        r            8

In [7]:
df.tail()

         date language  ex_complete
1  2017-01-02   python            5
2  2017-01-03   python           10
3  2017-01-01        r            8
4  2017-01-02        r            8
5  2017-01-03        r            8

In [8]:
df_python = df[df['language'] == 'python']

In [9]:
df_python.to_csv('data/user_ex_python.csv', index=False)

In [10]:
df_python.set_index('date', inplace=True)

In [11]:
df.set_index('date')

           language  ex_complete
date
2017-01-01   python            6
2017-01-02   python            5
2017-01-03   python           10
2017-01-01        r            8
2017-01-02        r            8
2017-01-03        r            8

In [12]:
df.set_index(['date', 'language'])

                     ex_complete
date       language
2017-01-01 python              6
2017-01-02 python              5
2017-01-03 python             10
2017-01-01 r                   8
2017-01-02 r                   8
2017-01-03 r                   8