# Data synthesis/generation for hierarchical index post

In [1]:
# Import packages
import numpy as np
import pandas as pd

In [2]:
# Generate data 
t = pd.date_range(start='1/1/2017', end='1/3/2017')
python = np.random.poisson(10, len(t))
r = np.random.poisson(10, len(t))
data = {'python': python, 'r': r, 'date': t}

In [3]:
# Build DataFrame and check it out
df = pd.DataFrame(data = data)
df.head()

        date  python  r
0 2017-01-01       6  8
1 2017-01-02       5  8
2 2017-01-03      10  8

In [4]:
# Melt the DataFrame inplace
df = df.melt(id_vars='date', var_name='language', value_name='ex_complete')
df.head()

        date language  ex_complete
0 2017-01-01   python            6
1 2017-01-02   python            5
2 2017-01-03   python           10
3 2017-01-01        r            8
4 2017-01-02        r            8

In [5]:
# Export data
df.to_csv('data/user_ex.csv', index=False)

___

In [6]:
# Import data, chek out head
df = pd.read_csv('data/user_ex.csv')
df.head()

         date language  ex_complete
0  2017-01-01   python            6
1  2017-01-02   python            5
2  2017-01-03   python           10
3  2017-01-01        r            8
4  2017-01-02        r            8

In [7]:
# Check out tail
df.tail()

         date language  ex_complete
1  2017-01-02   python            5
2  2017-01-03   python           10
3  2017-01-01        r            8
4  2017-01-02        r            8
5  2017-01-03        r            8

In [8]:
# Select rows corres. to Python
df_python = df[df['language'] == 'python']

In [9]:
# Export python
df_python.to_csv('data/user_ex_python.csv', index=False)